<!--{# The DS 2505 client 403 Forbidden page #}-->
<!--{# Inherit the code from the base template #}-->
{% extends 'base.html' %}
<!--{# specify the page title #}-->
{% block page_title %} 403 Forbidden{% endblock page_title %}
{% block page_heading %}
    403 - Forbidden
{% endblock %}
{% block page_content %}
    <p><strong>Access Denied:</strong> Unfortunately you don&rsquo;t have the permision to access this page.</p>
        {# Redirect the user to the site's home page #}
        <a href="{{ url_for('index') }}">Return to home</a>
{% endblock %}