<!--{# The DS 2505 server 503 - Service unavailable page #}-->
<!--{# Inherit the code from the base template #}-->
{% extends 'base.html' %}
<!--{# specify the page title #}-->
{% block page_title %} Service Unavailable{% endblock page_title %}
{% block page_heading %}
    503 - Service Unavailable
{% endblock %}
{% block page_content %}
    <p><strong>! Sorry, the service is currently unavailable.</strong><br/>
        Our services are currently under maintenance or are temporarily overloaded.</p>
    <p>Please try again later</p>
        {# Redirect the user to the site's home page #}
        <a href="{{ url_for('index') }}">Return to home</a>
{% endblock %}