<!--{# This is the site's base template that will be used to create all the other pages in our site via-->
<!--    Python inheritance #}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DS 2505 - {% block page_title %} {% endblock page_title %}</title>

    {# Optional scripts and styles #}
    {% block embed_style_or_script %}  {% endblock %}

    <!-- Link to the main stylesheet-->
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
{# Our site's main navigation bar #}
<nav id="main-nav">
    <button id="menu-toggle" aria-label="toggle Menu">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </button>
    <ul id="nav-menu">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('products') }}">Products</a></li>
        <li><a href="{{ url_for('view_tasks') }}">Tasks</a></li>
        {# Conditional display of routes/links depending on the user's permission/access level #}
        {% if current_user.is_authenticated %}
            {# Show admin/manager only links #}
            {% if current_user.is_admin_or_manager() %}
                <li><a href="{{ url_for('add_product') }}">Add Product</a></li>
            {% endif %}
            {# Display the logout link #}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</nav>
<div id="container">
{# Welcome message to be displayed once the user is logged/signed in #}
{% if current_user.is_authenticated %}
    <div>
        <span style="text_align: right;">Welcome, {{ current_user.full_name }}</span>
    </div>
{% endif%}
    <h1 class="page-heading">{% block page_heading %} {% endblock %}</h1>
    {# template block for the page content #}
    {% block page_content %} {% endblock %}
    <footer class="page-footer">
            DS 2505 Copyright &copy 2022 -
            <span id="currYear">
                <script async defer>
                document.getElementById('currYear').innerHTML = new Date().getFullYear();
                </script>
            </span><br/>
            Designed/Powered by <a href="#" target="_blank">Vic Designs</a>
        </footer>
</div>
</body>
</html>