<!--{# The DS 2505 edit product page #}-->
<!--{# Inherit the code from the base template #}-->
{% extends 'base.html' %}
<!--{# specify the page title #}-->
{% block page_title %} Edit Product{% endblock page_title %}
{% block page_heading %}
    Modify/Change Product
{% endblock %}

{% block page_content %}
    {# Form to modify/change a product's details #}
    <form method="post">
        {# Our site's CRSF token #}
        {{ form.hidden_tag() }}
        <p>
            <label for="name">Product Name:<span class="required-field">*</span> </label><br/>
            {{ form.name }}
        </p>
        <p>
            <label for="name">Product Price:<span class="required-field">*</span> </label><br/>
            {{ form.price }}
        </p>
        <button type="submit">Save Changes</button>
    </form><br/>
    {# Link back to the product listing page #}
    <a href="{{ url_for('products') }}">Back to product list</a>
{% endblock %}